/*  Extra small devices (portrait phones, less than 320px) */

@media (max-width: 320px) {
    /* menu part start */
    .navbar-light .navbar-nav .nav-link {
        text-align: right;
        padding-bottom: 10px !important;
    }
    .header-content {
        padding-top: 30px;
        color: #ffffff;
    }
    .header-content h3 {
        font-size: 15px;
    }
    .header-content h2 {
        font-size: 26px;
    }
    .btn-custom {
        font-size: 15px;
        padding: 8px 21px;
        margin-top: 55px;
    }
    /* menu part end */
    /* development part start */
    .development,
    .development-2 {
        padding: 30px 0;
    }
    .content h2 {
        font-size: 35px;
        text-align: center;
    }
    .content p {
        padding-top: 10px;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }
    .dev-image img {
        width: 40%;
        padding-top: 0;
        margin-left: 80px;
    }
    /* development part end */
}


/*  Extra small devices (portrait phones, less than 576px) */

@media (min-width: 321px) and (max-width: 575.98px) {
    /* menu part start */
    .navbar-light .navbar-nav .nav-link {
        text-align: right;
        padding-bottom: 10px !important;
    }
    .header-content {
        padding-top: 40px;
        color: #ffffff;
    }
    .header-content h3 {
        font-size: 20px;
    }
    .header-content h2 {
        font-size: 40px;
    }
    .btn-custom {
        font-size: 20px;
        padding: 12px 25px;
        margin-top: 30px;
    }
    /* menu part end */
    /* development part start */
    .development,
    .development-2 {
        padding: 30px 0;
    }
    .content h2 {
        font-size: 35px;
        text-align: center;
    }
    .content p {
        padding-top: 10px;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }
    .dev-image img {
        width: 40%;
        padding-top: 0;
        margin-left: 140px;
        padding-bottom: 20px;
    }
    /* development part end */
}


/*  Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    /* menu part start */
    .navbar-light .navbar-nav .nav-link {
        text-align: right;
        padding-bottom: 10px !important;
    }
    .header-content {
        padding-top: 50px;
        color: #ffffff;
    }
    .header-content h3 {
        font-size: 20px;
    }
    .header-content h2 {
        font-size: 40px;
    }
    .btn-custom {
        font-size: 20px;
        padding: 12px 25px;
        margin-top: 30px;
    }
    /* menu part end */
    /* development part start */
    .development,
    .development-2 {
        padding: 50px 0;
    }
    .content h2 {
        font-size: 50px;
        text-align: center;
    }
    .content p {
        padding-top: 10px;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }
    .dev-image img {
        width: 40%;
        padding-top: 0;
        margin-left: 140px;
        padding-bottom: 20px;
    }
    /* development part end */
}


/*  Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    /* menu part start */
    .navbar-light .navbar-nav .nav-link {
        text-align: right;
        padding-bottom: 10px !important;
    }
    .header-content {
        padding-top: 40px;
        color: #ffffff;
    }
    .header-content h3 {
        font-size: 25px;
    }
    .header-content h2 {
        font-size: 50px;
    }
    .btn-custom {
        font-size: 20px;
        padding: 12px 25px;
        margin-top: 18px;
    }
    /* menu part end */
    /* development part start */
    .development,
    .development-2 {
        padding: 50px 0;
    }
    .content h2 {
        font-size: 50px;
    }
    .content p {
        padding-top: 15px;
        font-size: 18px;
        line-height: 25px;
    }
    /* development part end */
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    ...
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    ...
}