body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* header part start */

.header {
    background: url(../img/header-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px 0 80px 0;
    height: 100vh;
}

.menu ul li a {
    color: #ffffff !important;
    font-size: 18px;
    font-weight: 400;
    padding: 0 20px !important;
}

.header-content {
    padding-top: 120px;
    color: #ffffff;
}

.header-content h3 {
    font-size: 32px;
    font-weight: 300;
}

.header-content h2 {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-custom {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 15px 33px;
    text-transform: capitalize;
    margin-top: 85px;
}

.btn-custom:hover {
    color: #ffffff;
}


/* header part end */


/* development part start */

.development,
.development-2 {
    padding: 100px 0;
}

.content h2 {
    font-size: 60px;
    font-weight: 300;
    color: #222;
}

.content p {
    font-size: 19px;
    width: 97%;
    color: #777777;
    line-height: 30px;
}

.dev-image img {}

.development-2 {
    background: #fafafa;
}


/* development part end */


/* featured part start */

.featured {
    padding: 100px 0;
}

.icon {
    background-color: #222222;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    font-size: 35px;
}

.icon-text h3 {
    font-size: 22px;
    font-weight: 700;
    color: #222222;
    text-transform: capitalize;
}

.icon-text p {
    color: #777777;
    font-size: 18px;
}


/* featured part end */